<html>
    <head>
        {% load static%}
        <link href="{% static 'estilo.css' %}" rel = "stylesheet"/>
    </head>

    <body>
        <h1>Esta es mi calculadora de fracciones</h1>
        <h2>Adriana Paola Sollano Kim A01653962</h2>
        <p style="text-align: left;">En restman probar: /suma, /resta, /multiplicacion, /division</p>
        <div>Para un ejemplo de un formulario, escribe algo aquí:</div>
        <form action = "proceso" method = "POST">
            {% csrf_token %}
            <input type = "text" name = "nombre"/>
            <input type = "submit"/>
        </form>
    </body>

</html>